#chat-body {
  height: 500vh;
  background-color: #abc1d1;
}

#chat-body .status-bar {
  background-color: #abc1d1;
}

#chat-body .alt-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

.chat {
  display: flex;
  margin-top: 110px;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInTimestamp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat__timestamp {
  padding: 10px 15px;
  margin-bottom: 25px;
  font-size: 15px;
  color: white;
  background-color: #92a4b2;
  border-radius: 25px;
  animation: fadeInTimestamp 0.3s linear;
}

@keyframes fadeInMessageRow {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  animation: fadeInMessageRow 0.3s linear;
}

.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 20px;
}

.message-row__author {
  display: block;
  margin-bottom: 7px;
}

.message-row__info {
  display: flex;
  align-items: flex-end;
}

.message-row__bubble {
  padding: 13px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 18px;
  border-top-left-radius: 0px;
}

.message-row__time {
  font-size: 14px;
}

.message-row__author,
.message-row__time {
  font-weight: 600;
  color: var(--rgba-foint-five);
}

@keyframes fadeInMessageRowOwn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own {
  justify-content: flex-end;
  animation: fadeInMessageRowOwn 0.3s linear;
}

.message-row--own .message-row__bubble {
  margin-right: 0px;
  margin-left: 5px;
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 18px;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.reply-form {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 5px 25px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.reply-form .reply-form__column:first-child {
  width: 10%;
}

.reply-form .reply-form__column:last-child {
  position: relative;
  width: 90%;
}

.reply-form i {
  color: var(--rgba-foint-five);
}

.reply-form__column:last-child input {
  width: 100%;
  padding: 12px 0px 12px 12px;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply-form__absolute {
  position: absolute;
  top: 4px;
  right: -10px;
  display: flex;
  height: 32px;
  align-items: center;
}

.reply-form__btn {
  width: 34px;
  height: 34px;
  margin-left: 14px;
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
}

.reply-form__btn i {
  color: black;
}

.reply-form__btn:active,
.reply-form__btn:focus {
  outline: none;
}

.reply-form .reply-form__column:first-child,
.reply-form .reply-form__absolute {
  transition: opacity 0.3s ease-in-out;
}

.reply-form:focus-within .reply-form__column:first-child,
.reply-form:focus-within .reply-form__absolute {
  opacity: 0;
}

.reply-form:focus-within input {
  width: 91vw;
  transform: translateX(-12%);
}
