#friends-display-link {
  display: block;
  padding: 15px 0px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  background-color: #fafafa;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  padding-top: 14px;
  margin-top: 20px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
  color: var(--rgba-foint-five);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  top: 0;
  z-index: 9;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  background-color: var(--yellow);
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 3s;
}

#splash-screen i {
  color: #3c1e1e;
}
