#friends-display-link {
  display: block;
  padding: 15px 0px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  background-color: #fafafa;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  padding-top: 14px;
  margin-top: 20px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
  color: var(--rgba-foint-five);
}
