.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  background-color: tomato;
  border-radius: 12px;
}

.nav__dot {
  position: absolute;
  bottom: 28px;
  left: 32px;
  width: 6px;
  height: 6px;
  background-color: tomato;
  border-radius: 3px;
}
