.notice-badge {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  background-color: tomato;
  border-radius: 12px;
}

.notice-dot {
  position: absolute;
  bottom: 28px;
  left: 32px;
  width: 6px;
  height: 6px;
  background-color: tomato;
  border-radius: 3px;
}

.notice-dot--cog {
  bottom: 22px;
  left: 22px;
}
